:root {
    --white-smoke: #EFF2F4;
    --white-flight:#F2F2F2;
    --light-grey: #B4AFB6;
    --linear-primary: linear-gradient(87.56deg, #8245F5 2.41%, #E8C2FF 148.49%);
    --linear-primary-hover: linear-gradient(-87.56deg, #8245F5 2.41%, #E8C2FF 148.49%);
    --green-color: #00FFAA;
    --footer-bg: #0D0D0F;
    --text-black: #181A1B;
    --text-blue: #3B43FF;
}

