footer.main-footer
    .container 
        .row.align-items-center.justify-content-between 
            .col-12.col-xl-3
                .logo.mb-4
                    img(src="./images/logo-footer.png", alt="Footer Logo")
                p.copy-right.text-white.my-4 © 2024 SOLMINT v1.1. All rights reserved.
                p.copy-right.text-white Powered by SolMintLab.
            .col-12.col-xl-4.pt-5.pt-xl-0
                .socials.text-xl-right
                    p Join our community
                    .socials-list.d-flex.align-items-center.justify-content-xl-end
                        a(href="#!")
                            i.fab.fa-youtube
                        a(href="#!")
                            i.fab.fa-instagram
                        a(href="#!")
                            i.fab.fa-twitter
                        a(href="#!")
                            i.fab.fa-discord
            
