.navbar-menu-left
	ul.navbar-wrapper 
		//- Home
		li.navbar-item 
			a.navbar-link(href="./index.html" class=(page === 'home' ? 'active': ''))
				span.icon 
					i.ti.ti-home-2
				| Home 
		
		//- Token Manager
		li.navbar-item.dropdown
			a.navbar-link(data-toggle="collapse" href="#collapseTokenManager" aria-expanded="false")
				span.icon 
					i.ti.ti-coins
				| Token Management 
				i.far.fa-angle-down
			div#collapseTokenManager.collapse
				ul.navbar-dropdown 
					li.navbar-item 
						a.navbar-link(href="token-creator.html" class=(page === 'token-creator' ? 'active' : '') )
							span.icon 
								i.ti.ti-vector
							| Token Creator 
							span.status-ic 
								img(src="./images/icons/flame-filled-ic.png", alt="")
					li.navbar-item 
						a.navbar-link(href="mint-revoke-authority.html" class=(page === 'mint-revoke-authority' ? 'active' : '') )
							span.icon 
								i.ti.ti-businessplan
							| Mint, Revoke Authority 
					li.navbar-item 
						a.navbar-link(href="./token-burn.html" class=(page === 'token-burn' ? 'active' : ''))
							span.icon 
								i.ti.ti-flame
							| Token Burn
					li.navbar-item 
						a.navbar-link(href="./update-metadata.html" class=(page === 'update-metadata' ? 'active' : ''))
							span.icon 
								i.ti.ti-edit-circle
							| Update Metadata
					li.navbar-item 
						a.navbar-link(href="multi-sender.html" class=(page === 'multi-sender' ? 'active' : ''))
							span.icon 
								i.ti.ti-users-group
							| Multisender
		
		//- LP Management
		li.navbar-item.dropdown
			a.navbar-link(data-toggle="collapse" href="#collapseLpManagement" aria-expanded="false")
				span.icon 
					i.ti.ti-droplet
				| LP Management
				i.far.fa-angle-down
			div#collapseLpManagement.collapse
				ul.navbar-dropdown 
					li.navbar-item 
						a.navbar-link(href="./create-liquidity-pool.html" class=(page === 'create-liquidity-pool' ? 'active' : '') )
							span.icon 
								i.ti.ti-bucket-droplet
							| Create Liquidity Pool
					li.navbar-item 
						a.navbar-link(href="./add-liquidity-pool.html" class=(page === 'add-liquidity-pool' ? 'active' : '') )
							span.icon 
								i.ti.ti-droplet-up
							| Add More Liquidity Pool
					li.navbar-item 
						a.navbar-link(href="./remove-liquidity-pool.html" class=(page === 'remove-liquidity-pool' ? 'active' : '') )
							span.icon 
								i.ti.ti-droplet-x
							| Remove Liquidity Pool
					li.navbar-item 
						a.navbar-link(href="#!")
							span.icon 
								i.ti.ti-campfire
							| Burn Liquidity
							span.status-ic 
								img(src="./images/icons/flame-filled-ic.png", alt="")
					li.navbar-item 
						a.navbar-link(href="#!")
							span.icon 
								i.ti.ti-lock
							| Lock Liquidity

		//- Openbook Market
		li.navbar-item 
			a.navbar-link(href="./openbook-market.html" class=(page === 'openbook-market' ? 'active' : ''))
				span.icon 
					i.ti.ti-building-store
				| Create Openbook Market
				span.status-ic 
					img(src="./images/icons/flame-filled-ic.png", alt="")

		//- Lock Management
		li.navbar-item.dropdown
			a.navbar-link(data-toggle="collapse" href="#collapseCreateLock" aria-expanded="false")
				span.icon 
					i.ti.ti-lock-access
				| Lock Management
				i.far.fa-angle-down
			div#collapseCreateLock.collapse
				ul.navbar-dropdown 
					li.navbar-item 
						a.navbar-link(href="lock-lp-token.html" class=(page === 'lock-lp-token' ? 'active' : ''))
							span.icon 
								i.ti.ti-circle-key
							| Lock Token
					li.navbar-item 
						a.navbar-link(href="unlock.html" class=(page === 'un-lock' ? 'active' : ''))
							span.icon 
								i.ti.ti-cloud-lock
							| Unlock Token
					li.navbar-item 
						a.navbar-link(href="info-lock.html" class=(page === 'info-lock' ? 'active' : ''))
							span.icon 
								i.ti.ti-cloud-lock
							| Lock Info

		//- Snipe Block-0
		li.navbar-item.dropdown
			a.navbar-link(href="#!" class="text-gray")
				span.icon 
					i.ti.ti-building-store
				| Snipe Block-0
		
		//- Bee TradingBot
		li.navbar-item.dropdown
			a.navbar-link(href="#!" class="text-gray")
				span.icon 
					i.ti.ti-robot
				| Bee TradingBot

		//- Deployer Auto Bot
		li.navbar-item.dropdown
			a.navbar-link(href="#!" class="text-gray")
				span.icon 
					i.ti.ti-battery-automotive
				| Deployer Auto Bot

		//- NFT
		li.navbar-item.dropdown
			a.navbar-link(href="#!" class="text-gray")
				span.icon 
					i.ti.ti-photo-heart
				| NFT Management

		//- Bee Fun
		li.navbar-item.dropdown
			a.navbar-link(href="#!" class="text-gray")
				span.icon 
					i.ti.ti-mood-happy
				| Bee Fun

		//- Docs
		li.navbar-item.dropdown
			a.navbar-link(href="#!")
				span.icon 
					i.ti.ti-file-dots
				| Docs


	.menu-support 
		a(href="#!" class="support-chat")
			img(src="./images/dev-support-icon.png", alt="Dev Support") 
		.support-socials 
			a(href="#!")
				img(src="./images/telegram-icon.png", width="20" alt="icon")
			a(href="#!")
				img(src="./images/twitter-icon.png", width="20" alt="icon")
			a(href="#!")
				img(src="./images/medium-icon.png", width="20" alt="icon")
		.support-languagues 
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item(role='presentation')
					button(class="w-100 nav-link active" data-toggle='tab') English
				li.nav-item(role='presentation')
					button(class="w-100 nav-link" data-toggle='tab') Chinese
		.support-copyright 
			p © 2024 BeeBee v1.1. All rights reserved.
			p Powered by BeeLab