extends layout/layout

block vars
	-title = 'Bee Bee'
	-bodyClass = 'content-page'
	-page= 'add-liquidity-pool'
	-pageName= 'Add Liquidity Pool'

block container
	.main-content.py-0
		.container-fluid
			.row 	
				.col-12.col-xl-auto.menu-section
					.sidebar-left
						include ./blocks/navbar
						.banner-ads.d-none.d-xl-block
							img(src="./images/banner-ads-1.png", width="100%", alt="ads")
				.col-12.col-xl-6.content-background-center
					.content-wrapper 
						.content-submit 
							.col-12.col-xl-8.mx-auto
								h6.content-submit-title Add More Liquidity Pool
								p.content-submit-desc Add more Liquidity Pool
								form(action="" class="form-submit")
									.form-group 
										label(for="") Enter Liquidity Address (AMM ID):
										input(type="text" class="form-control" placeholder="Enter Liquidity Address (AMM ID)")
									button(type="submit" class="btn btn-secondary w-100 mt-5") Load Liquidty Pool Info

								form(action="" class="form-submit mt-5")
									.form-group
										label(for="") Adding to Liquidity Pool: 1.00 Base + 1.00 Quote
										.form-box 
											.box-from.d-flex.align-items-center.justify-content-between 
												h3 Base Mint 
											.box-amount.d-flex.align-items-center.justify-content-between.my-4
												span.label Amount 
												input(type="text" class="form-control" autofocus value="2.1223")
											.box-balane.d-flex.align-items-center.justify-content-between
												span.label Balance 
												.result.d-flex.align-items-center.justify-content-between.gap-10 
													span 18.7685 
													button(type="button" class="btn btn-secondary btn-secondary-small") MAX
										.form-box 
											.box-from.d-flex.align-items-center.justify-content-between 
												h3 Quote Mint 
											.box-amount.d-flex.align-items-center.justify-content-between.my-4
												span.label Amount 
												input(type="text" class="form-control" value="1" disabled)
									button(type="submit" class="btn btn-secondary w-100 mt-5") Withdraw Liquidity Pool
								

				.col-12.col-xl-3.right-section
					.nav-tab-section 
						ul#myTab.nav.nav-tabs(role='tablist')
							li.nav-item(role='presentation')
								button(class="w-100 nav-link active" data-toggle='tab' data-target='#add-more-LP' type='button' role='tab' aria-selected='true') Add More LP
							li.nav-item(role='presentation')
								button(class="w-100 nav-link" data-toggle='tab' data-target='#remove-LP' type='button' role='tab' aria-selected='false') Remove LP
						#myTabContent.tab-content
							#add-more-LP.tab-pane.fade.show.active
								.step-bar 
									h6.step-bar-title How to use Add More LP
									.step-bar-list 
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Connect your Solana wallet
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Enter the Liquidity Pool Address (AMM ID)
										.item.tall
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Select the quantity of Base Token you want to add
												br
												| &#x2022; Quote mint will be automatically calculated
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Click on add liquidity
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Accept the transaction and wait until the withdrawal is completed
							#remove-LP.tab-pane.fade.show
								.step-bar 
									h6.step-bar-title How to use Remove LP
									.step-bar-list 
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Connect your Solana wallet
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Enter the Liquidity Pool Address (AMM ID)
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Select the quantity you want to withdraw
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Click on withdraw liquidity
										.item 
											span.icon 
												img(src="./images/icons/check-icon.png", alt="")
											p Accept the transaction and wait until the withdrawal is completed