extends layout/layout

block vars
	-title = 'Bee Bee'
	-bodyClass = 'home-page'
	-page= 'home'
	-pageName= 'Home'

block container
	.main-content.py-0
		.container-fluid 
			.row.flex-xl-nowrap.justify-content-xl-between 	
				.col-12.col-xl-auto.menu-section
					.sidebar-left
						include ./blocks/navbar
				.home-page-section
					.home-banner 
						.home-banner-title 
							h2 Easily Snipe At 
								span Block-0
							h1 ON SOLANA
						.home-page-icon 
							img(src="./images/bee-icon.png", alt="")
						a(href="#!" class="home-banner-btn")  
							i.ti.ti-viewfinder
							p 
								| SNIP 
								span BLOCK-O 
								| NOW
						.support-socials.d-xl-none 
							a(href="#!")
								img(src="./images/telegram-icon.png", width="20" alt="icon")
							a(href="#!")
								img(src="./images/twitter-icon.png", width="20" alt="icon")
							a(href="#!")
								img(src="./images/medium-icon.png", width="20" alt="icon")